form.normal {
    width: 100%;

  .form-field,
  .form-row {
    margin-bottom: rem(16px);
    width: 100%;

    label {
      color: $text-color;
      display: block;
      padding: 0 rem(12px);
      margin-bottom: rem(5px);
      font-family: $font-bold;
      font-size: rem(14px);
    }

    input,
    select,
    textarea {
      width: calc(100% - calc(rem(24px) + 2px));
      border: 1px solid $background-color;
      background-color: transparent;
      backdrop-filter: blur(5px);
      padding: rem(15px) rem(12px);
      border-radius: rem(10px);
      color: $text-color;
      font-family: $font-medium;
      font-size: rem(14px);
      
    }

    select {
      width: 100%;
    }

    .error-message{
        color: $text-color;
        font-family: $font-medium;
        font-size: rem(14px);
        margin-top: rem(10px);
        display: block;
        padding: 0 rem(12px);
    }
  }

  fieldset {
    border: none;
    margin-top: rem(30px);

    .form-checkbox{
        margin-bottom: rem(20px);
        color: $text-color;
        font-family: $font-medium;
        font-size: rem(14px);
        text-wrap: balance;

        a{
            color: $text-color;
        }

        input{
            margin-right: rem(10px);
        }
    }
  }

  input[type="submit"],
  button{
    width: 100%;
    margin-top: rem(30px);
  }
}
