p{
    font-family: $font_medium;
    color: $text-color;
    font-size: rem(15px);
}

strong{
    font-family: $font_bold;
    color: $text-color;
    font-size: rem(15px);
}

h2{
    font-family: $font_bold;
    color: $text-color;
    font-size: rem(35px);
}

h3{
    font-family: $font_bold;
    color: $text-color;
    font-size: rem(25px);
}