header.home{
    .hero-section{
        margin-top: rem(90px); // Space for nav top: rem(20px); and height: rem(50px) => 70px + extra space 20px;

        img{
            width: 100%;
        }
    }

    .cta-buttons{
        margin-top: rem(25px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: rem(10px);
    }
}